{% extends "base.html" %}
{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col12 center ">
            <h2>Cart</h2>            
        </div>
    </div>
    <div class="row">
        <div class="col12 center">
            {% if cart_items %}
            {{match.name}}
            {{item.ticket}}
                

                <div class="table">
                          <table class="striped">
                            <thead>
                            <tr>
                                <th>Match</th>
                                <th>Stadium</th>
                                <th>Day</th>
                                <th>Stand</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Subtotal</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for item in cart_items %}
                            <tr>
                                
                                 
                                <td>{{item.ticket.match.tour.friendly_name}}: {{item.ticket.match}}</td>                                
                                <td>{{item.ticket.stadium}}</td>                                
                                <td>{% if item.ticket.match.gametype.name == "Test Match" %}Test Match{%else%}N/A{%endif%}</td>                                
                                <td>{{item.ticket.friendly_name}}</td>
                                <td>{{item.ticket.price}}</td>
                                <td>{{item.quantity}}</td>
                                <td>tbc: {{item.ticket.price}}**{{item.quantity}}</td>                         
                            </tr>
                                {% endfor %}                        
                            </tbody>
                        </table>
                <div class="row center">
                    <h6>Total: £{{total|floatformat:2}}</h6>
                    <h6>Delivery: £{{delivery|floatformat:2}}</h6>
                    <h6><strong>Grand Total: £{{grand_total|floatformat:2}}</strong></h6>
                </div>
                <div class="row center">
                    <a href="{% url 'tours' %}" class="btn btn-white">
                        <i class="fas fa-chevron-left"> </i> Back to Tours
                    </a>
                    <a href="{% url 'tours' %}" class="btn-white btn ">
                        <i class="fas fa-lock"> </i> Secure Checkout
                    </a>
                </div>

                
                   
                </div>
            {% else %}
                <p>Your cart is empty.</p>
                <a href="{% url 'tours' %}" class="btn">
                    <i class="fas fa-chevron-left"></i> Back to Tours
                </a>
            {%endif%}
        </div>
    </div>
</div>

{% endblock %}