{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="container center">
    <h1>Welcome to England Cricket Tickets</h1>
    <h3>The #1 Best Place for buying tickets for England Test matches, ODIs and IT20s around the world.</h3>
    <a href="" class="btn-large">Explore Tickets</a>
</div>
{% endblock %}