body{
    font-family: 'Noto Sans', sans-serif;
    overflow-x: hidden;
    background-color:#1b466c;
    color: #f9fafa;
    
}

.v-header {
	height: 90vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.fullscreen-video-wrap {
    position: absolute;	
    top: -100px;
	left: 0;
	width: 100%;
	height: 110vh;
	overflow: hidden;
}

@media only screen and (min-width: 1026px) and (max-width: 1500px){
    .v-header {
    height: 140vh;
    }
    .fullscreen-video-wrap {        	
    height: 170vh;
    }
}

.fullscreen-video-wrap video {
	min-width: 100%;
	min-width: 100%;
}
.header-container h1{
    margin-top: 0;
}
.header-container a{
    margin: 25px 0;
}


@media only screen and (min-width: 601px){
    .navbar-fixed {
        height: 120px;
    }
}
.btn{
    margin-bottom: 10px;
}

.btn-blue{
    background-color: rgb(4,45,82);
}

.btn-blue:hover{
    background-color: #f9fafa;
    color: rgb(4,45,82);;
}

.btn-white{
    background-color: #f9fafa;
    color: rgb(4,45,82);
}
.btn-white:hover{
    color: #f9fafa;
    background-color: rgb(4,45,82);
}

.btt-button{
    height: 42px;
    width: 200px;
    position: fixed;
    bottom: 10px;
    left: 10px;
}

.btn:focus, .btn-large:focus, .btn-small:focus, .btn-floating:focus {
    background-color: #f9fafa;
}

.btt-link{
    cursor: pointer;
}

.select-dropdown .dropdown-trigger{
    color: #f9fafa;
}

.hidden{
    display: none;
}

.hide-messages:hover{
    cursor: pointer;
}

.messages{
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content input{
    color: #f9fafa;
}

.card img{
    max-height: 150px;
    width: 100%;
    object-fit: cover;
}

.card a{
    margin-bottom: 5px;
}

.collapsible-header{
    color: rgb(4,45,82);
}

.dropdown-content li>a, .dropdown-content li>span{
    color: rgb(4,45,82);
    width: 200px;
}

.dropdown-content{
    min-width: 200px;
}

.tour-row h3{
    padding-top: 25px;
    margin-top: 10px;
}

.tour-details{
    background-color: rgba(255, 255, 255, 0.3);
    border:  1px solid;
    border-radius: 0.5%
}

.tour-row p{
    font-weight: bold
}

.tour-header h2{
    margin-bottom: 0px;
}

.tour-filter a {
    padding: 0 15px !important;    
}

footer, footer a{
    background-color: #f9fafa;
    color: rgb(4,45,82);   
}

.select-wrapper{
    max-width: 250px;
    margin-left: 36%;
}

.select-wrapper input.select-dropdown{
    color: #f9fafa;
    align-items: center;
}

form input{
    color: white;
}

.form-options a, .form-options input{
    margin-top: 10px;
}

footer .row{
    margin-bottom: 0px;
}

footer img{
    height: 200px;
    padding-top: 35px;
}

footer ul li{
    display: inline;
    font-weight: bold;
}

footer a{
    font-weight: bold;
}

footer li i{
    font-size: 50px;   
    padding: 10% 20px 5%
}

.table{
    display: table;
}

.photo-header{
    display: none
}

.cart-list-view, .order-list-view{
    display: none;
}

.cart-table-view, .order-table-view{
    display: block
}

.message-title{
    color: rgb(4,45,82);
    margin-top: 25px;
}

.primaryAction{
    
    margin-bottom: 25px;
    margin-top: 25px;
}

.secondaryAction{
    color: #f9fafa;
}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    position: absolute;
    opacity: 1;
    pointer-events: none;
}

.input-field>label{
    color: white;
}

/* Mobile */

.sidenav-overlay{
    z-index: 100;
}
.sidenav li a{
    color: rgb(4,45,82);
}
@media only screen and (max-width: 1025px){
    .v-header {
        display: none;
    }
    .photo-header{
        display: block;
    }

    .photo-header img{        
        height: 50vh;
        width: 100%;
        object-fit: cover;
    }

    footer img{
        height: 150px;
        width: 150px;
        padding-top: 50px;
    }
}

@media only screen and (max-width: 500px){
    .photo-header img{        
        height: 90vh;        
    }
    .row .col{
        float: none;
    }
    .table{
        display: inline;
    }
    .tour-header{
        margin-top: 110px;
    }
    .select-wrapper{
        margin-left: 18%;
    }
    .info-row h3{
        margin-top: 110px;
    }
    .info-row h5{
        margin-bottom: 20px;
    }
    .message-title h6{
        margin-top: 75px;
    }
    .cart-header h2, .checkout-header h2, .checkout-success-header h2, .allauth-header,
    .product-management h2{
        margin-top: 100px;
    }
    .cart-list-view, .order-list-view{
        display: block;
        overflow: hidden;
    }
    .cart-table-view, .order-table-view{
        display: none
    }
    .btn-mobile{
        margin-top: 10px;
    }
    
}
