body{
    font-family: 'Noto Sans', sans-serif;
    overflow-x: hidden;
    background-color:rgb(4,45,82);
    color: white;
    
}


.v-header {
	height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.container {
	max-width: 960px;
	padding-left: 1rem;
	padding-right: 1rem;
	margin: auto;
	text-align: center;
}

.fullscreen-video-wrap {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 150vh;
	overflow: hidden;
}

.fullscreen-video-wrap video {
	min-width: 100%;
	min-width: 100%;
}

.header-overlay {
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

@media(max-width: 960px) {
	.container {
		padding-right: 3rem;
        padding-left: 3rem;
        width: 100%;
	}
}

@media only screen and (min-width: 601px){
    .navbar-fixed {
        height: 120px;
    }
}
.btn{
    margin-bottom: 10px;
}

.btn-blue{
    background-color: rgb(4,45,82);
}

.btn-blue:hover{
    background-color: white;
    color: rgb(4,45,82);;
}

.btn-white{
    background-color: white;
    color: rgb(4,45,82);
}
.btn-white:hover{
    color: white;
    background-color: rgb(4,45,82);
}

.btt-button{
    height: 42px;
    width: 200px;
    position: fixed;
    bottom: 10px;
    left: 10px;
}

.btt-link{
    cursor: pointer;
}

.select-dropdown .dropdown-trigger{
    color: white;
}

.hidden{
    display: none;
}

.hide-messages:hover{
    cursor: pointer;
}

.messages{
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content input{
    color: white;
}

.card img{
    max-height: 200px;
    width: 100%;
}

.card a{
    margin-bottom: 5px;
}