{% extends "base.html" %}
{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row center-align">
        <h3>{{match.tour.friendly_name}}: {{match.name}}</h3>
        {% for stadium in stadiums%}
                {% if match.stadium == stadium %}
        <h5>{{stadium.full_name}}</h5>
        <div class="col m6">       
                <a href="{{stadium.image_url}}" target="_blank"><img src="{{stadium.image_url}}" alt="{{stadium.name}}" style="max-width: 100%;"></a>
                {% endif %}
            {% endfor %}          
           
        </div>
        <div class="col m6 center">            
             {% for ticket in tickets %}
                {% if match.stadium == ticket.stadium %}
                    <p>{{ ticket.name }}: {{ticket.price}}</p>
                    {% if match.gametype.name == "Test Match" %}
                        <form action="{% url 'add_to_cart' ticket.id %}" method="POST">
                            {% csrf_token %}
                            
                           <select name="day" data-item_id="{{ticket.id}}" id="id_day">
                            <option value="" disabled selected>Choose Day</option>
                            <option value="day1">Day 1</option>
                            <option value="day2">Day 2</option>
                            <option value="day3">Day 3</option>
                            </select>
                            <label>Choose Day</label>  
                                               
                    {% endif %}
                             <input class="qty_input white-text" type="number" name="quantity" value="1" min="1" max="4" data-item_id="{{ ticket.id }}" id="id_qty_{{ ticket.id }}">
                             <input type="submit" class="btn" value="Buy Tickets">
                             <input type="hidden" name="redirect_url" value="{{request.path}}">
                        </form>
                        <a href="{% url 'tours'%}" class="btn"><i class="fas fa-chevron-left"></i> Back to Tours</a>
                        
                {% endif %}                
            {% endfor %}
        </div>        
        </div>
    
</div>

{% endblock %}