{% extends "base.html" %}
{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row center-align">
        <h3>{{match.tour.friendly_name}}: {{match.name}}</h3>
        {% for stadium in stadiums%}
                {% if match.stadium == stadium %}
        <h5>{{stadium.full_name}}</h5>
        <div class="col m6">       
                <a href="{{stadium.image_url}}" target="_blank"><img src="{{stadium.image_url}}" alt="{{stadium.name}}" style="max-width: 100%;"></a>
                {% endif %}
            {% endfor %}          
           
        </div>
        <div class="col m6">
             {% for ticket in tickets %}
                {% if match.stadium == ticket.stadium %}
                    <p>{{ ticket.name }}: {{ticket.price}}</p>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}