{% extends "base.html" %}
{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col6 center-align">    
            <h2>Tours</h2>
        </div>
    </div>
    <div class="row">
        <div class="col m4 center-align">
            <form method="GET" action="{% url 'tours' %}">
                <div class="input-field">
                    <input id="search" type="search" required name="q" placeholder="Search our site">                  
                        <button type="submit">                            
                                <i class="fas fa-search"></i>                            
                        </button>                    
                </div>
            </form>
        </div>   
        <div class="col m4 center-align">
            <div class="row">
                 <!-- Dropdown Trigger -->
                <a class="dropdown-trigger white-text" href="#" data-target="dropdown3">Select Match</a>
                <!-- Dropdown Structure -->
                <ul id="dropdown3" class="dropdown-content">
                    {% for tour in tours %}
                    <li><a href="{% url 'tours' %}?tour={{g.friendly_name}}">{{tour.name}}</a></li>                    
                    <li class="divider" tabindex="-1"></li>
                    {% endfor %}                    
                </ul>
            </div>
        </div>  
        <div class="col m4 center-align">
            <div class="row">
                 <!-- Dropdown Trigger -->
                <a class="dropdown-trigger white-text" href="#" data-target="dropdown4">Select Stadium Location</a>
                <!-- Dropdown Structure -->
                <ul id="dropdown4" class="dropdown-content">
                    {% for s in stadiums %}
                    <li><a href="#!">{{s.friendly_name}}</a></li>                    
                    <li class="divider" tabindex="-1"></li>
                    {% endfor %}                    
                </ul>
            </div>
        </div>  
    </div>
    {% for tour in tours %}
        <div class="row center-align" style="background-image: url('{{tour.image_url}}'); background-size: cover;
	-webkit-background-size: cover;	-moz-background-size: cover;	-o-background-size: cover;
	background-repeat: no-repeat;	background-position: 50% 50%;">
            <h3 style="padding-top: 25px;">{{tour.name}}</h3>
            <div class="col m6 offset-m6 center-align">                
                {% for match in matches %}
                    {% if match.tour == tour%}
                    <p>{{match.name}}, {{match.stadium}}: {{match.date}}</p>
                    <a href="{% url 'tickets' match.id %}" class="btn">Buy tickets</a>
                    {% endif %}
                {% endfor %}
            </div>
            
        </div> 
    {% endfor %}
                    
</div>

{% endblock %}