{% extends "base.html" %}
{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col6 center-align">    
            <h2>Tours</h2>
        </div>
    </div>
    {% for tour in tours %}
        <div class="row center-align" style="background-image: url('{{tour.image_url}}'); background-size: cover;
	-webkit-background-size: cover;	-moz-background-size: cover;	-o-background-size: cover;
	background-repeat: no-repeat;	background-position: 50% 50%;">
            <h3 style="padding-top: 25px;">{{tour.name}}</h3>
            <div class="col m6 offset-m6 center-align">                
                {% for match in matches %}
                    {% if match.tour == tour%}
                    <p>{{match.name}}, {{match.stadium}}: {{match.date}}</p>
                    <a href="" class="btn">Buy tickets</a>
                    {% endif %}
                {% endfor %}
            </div>
            
        </div> 
    {% endfor %}
                    
</div>

{% endblock %}