{% extends "base.html" %}
{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col6 center-align tour-header">    
            <h2>Tours</h2>
        </div>
    </div>
    <div class="row">       
        <div class="col m4 offset-m4 center-align tour-filter">            
                <!-- Dropdown Trigger -->
            <a class="dropdown-trigger btn btn-white" href="#" data-target="dropdown3" style="padding: 2px;">
                Filter
            </a>
            <!-- Dropdown Structure -->
            <ul id="dropdown3" class="dropdown-content">
                {% for tour in tours %}
                <li><a href="{% url 'tours' %}?tour={{tour.name}}">{{tour.friendly_name}}</a></li>                    
                <li class="divider" tabindex="-1"></li>
                {% endfor %}                    
            </ul>
            <a href="{% url 'tours' %}" class="btn btn-white">Reset</a>     
        </div>       
         
    </div>
    
    {% for tour in tours %}
        <div class="row center-align tour-row" style="background-image: url('{{tour.image_url}}'); background-size: cover;
	-webkit-background-size: cover;	-moz-background-size: cover;	-o-background-size: cover;
	background-repeat: no-repeat;	background-position: 50% 50%; min-height: 70vh; margin-bottom: 0;">
            <h3>{{tour.friendly_name}}</h3>
            <div class="col m6 offset-m6 center-align tour-details">                
                {% for match in matches %}
                    {% if match.tour == tour%}
                    <p>{{match.name}}, {{match.stadium.full_name}}:<br> {{match.date}}</p>
                    <a href="{% url 'tickets' match.id %}" class="btn btn-blue" >Buy tickets</a>
                    {% if request.user.is_superuser %}
                    <a href="{% url 'edit_match' match.id %}" class="btn btn-white" >Edit match</a>
                    <a href="{% url 'delete_match' match.id %}" class="btn btn-blue" >Delete match</a>
                    {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
            
        </div> 
    {% endfor %}
                    
</div>
<div class="btt-button">
    <a href="" class="btn btn-blue btt-link">Back to Top</a>
</div>

{% endblock %}
{% block postloadjs %}
    {{block.super}}
    <script type="text/javascript">
        $(.btt-link).click(function(e){
            window.scrollTo(0,0)
        })
    </script>
    {{endblock}}
{% endblock %}