{% load cart_tools %}
<div class="container-fluid messages">
    <div class="row">
        <div class="col right white message-title" style="">
            <h6>Success! <a class="right hide-messages" style="color: rgb(4,45,82)"><i class="fas fa-times"></i></a></h6>
            <p>{{message}}</p>
            <hr>
            {% if grand_total and not on_profile_page %}
                <p><strong>Your Cart: ({{product_count}})</strong></p>
                {% for item in cart_items %}
                    <p>{{item.ticket.match.tour.friendly_name}}: {{item.ticket.match}}{% if item.ticket.match.gametype.name == "Test Match" %}: Day: {{item.day}}{%else%}{%endif%}</p>
                    <p>{{item.quantity}} x {{item.ticket.friendly_name}} = £{{item.ticket.price | calc_subtotal:item.quantity}}</p>
                    
                {% endfor %}
                <p>Total: £{{total|floatformat:2}}</p>
                {% if request.user.is_authenticated %}
                <p>Member Discount: £{{discount|floatformat:2}}</p>
                {% endif %}
                <p>Delivery: £{{delivery|floatformat:2}}</p>
                <p>Grand Total: £{{grand_total|floatformat:2}}</p>
                <a href="{% url 'view_cart' %}" class="btn btn-blue center">Checkout</a>
            {% endif %}

        </div>
    </div>    
</div>
<script type="text/javascript">
    $(".hide-messages").click(function(e){
        $(".messages").addClass("hidden")
    })
</script>