{% load static %}
<!DOCTYPE html>
<html>
<head>   

    <!--Let browser know website is optimized for mobile-->
    {% block meta %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
        <meta charset="utf-8">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}
    
    {% block corecss %}
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    {% endblock %}

    {% block extra_css%}
    {% endblock %}

    {% block corejs %}
        <script type="text/javascript" src="js/materialize.min.js"></script>
    {% endblock %}

    {% block extrajs %}
    {% endblock %}

    <title>England Cricket Tickets {% block extra_title%}{% endblock %}</title>
</head>
<body>
    <header class="container-fluid fixed-top">
    </header>
    {% if messages}
    <div class="message-container">       
    </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}


      
</body>
</html>